Import the required Librays.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print("All Packages Imported")

All Packages Imported

Load and Read CSV Files.

In [2]:
emi = pd.read_csv("emi_prediction.csv")
emi.head(2)

C:\Users\saran\AppData\Local\Temp\ipykernel_14920\1988931906.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  emi = pd.read_csv("emi_prediction.csv")

,age,gender,marital_status,education,monthly_salary,employment_type,years_of_employment,company_type,house_type,monthly_rent,...,existing_loans,current_emi_amount,credit_score,bank_balance,emergency_fund,emi_scenario,requested_amount,requested_tenure,emi_eligibility,max_monthly_emi
0,38.0,Female,Married,Professional,82600.0,Private,0.9,Mid-size,Rented,20000.0,...,Yes,23700.0,660.0,303200.0,70200.0,Personal Loan EMI,850000.0,15,Not_Eligible,500.0
1,38.0,Female,Married,Graduate,21500.0,Private,7.0,MNC,Family,0.0,...,Yes,4100.0,714.0,92500.0,26900.0,E-commerce Shopping EMI,128000.0,19,Not_Eligible,700.0

In [3]:
emi.columns

Index(['age', 'gender', 'marital_status', 'education', 'monthly_salary',
       'employment_type', 'years_of_employment', 'company_type', 'house_type',
       'monthly_rent', 'family_size', 'dependents', 'school_fees',
       'college_fees', 'travel_expenses', 'groceries_utilities',
       'other_monthly_expenses', 'existing_loans', 'current_emi_amount',
       'credit_score', 'bank_balance', 'emergency_fund', 'emi_scenario',
       'requested_amount', 'requested_tenure', 'emi_eligibility',
       'max_monthly_emi'],
      dtype='object')

Check the Datasets Describe.

In [4]:
emi.describe

<bound method NDFrame.describe of          age  gender marital_status      education monthly_salary  \
0       38.0  Female        Married   Professional        82600.0
1       38.0  Female        Married       Graduate        21500.0
2       38.0    Male        Married   Professional        86100.0
3       58.0  Female        Married    High School        66800.0
4       48.0  Female        Married   Professional        57300.0
...      ...     ...            ...            ...            ...
404795  27.0    Male        Married       Graduate        32400.0
404796  38.0    Male        Married  Post Graduate        49200.0
404797  32.0    Male         Single       Graduate        25700.0
404798  48.0    Male        Married       Graduate        47200.0
404799  38.0  FEMALE        Married       Graduate        34900.0

       employment_type  years_of_employment  company_type house_type  \
0              Private                  0.9      Mid-size     Rented
1              Private                  7.0           MNC     Family
2              Private                  5.8       Startup        Own
3              Private                  2.2      Mid-size        Own
4              Private                  3.4      Mid-size     Family
...                ...                  ...           ...        ...
404795         Private                  5.0  Large Indian     Rented
404796         Private                  1.9           MNC        Own
404797         Private                  3.2           MNC     Rented
404798         Private                  3.0           MNC        Own
404799         Private                  1.2           MNC     Family

        monthly_rent  ...  existing_loans  current_emi_amount  credit_score  \
0            20000.0  ...             Yes             23700.0         660.0
1                0.0  ...             Yes              4100.0         714.0
2                0.0  ...              No                 0.0         650.0
3                0.0  ...              No                 0.0         685.0
4                0.0  ...              No                 0.0         770.0
...              ...  ...             ...                 ...           ...
404795       10400.0  ...              No                 0.0         649.0
404796           0.0  ...              No                 0.0         712.0
404797        6300.0  ...              No                 0.0         676.0
404798           0.0  ...              No                 0.0         784.0
404799           0.0  ...              No                 0.0         641.0

        bank_balance  emergency_fund             emi_scenario  \
0           303200.0         70200.0        Personal Loan EMI
1            92500.0         26900.0  E-commerce Shopping EMI
2           672100.0        324200.0            Education EMI
3           440900.0        178100.0              Vehicle EMI
4            97300.0         28200.0      Home Appliances EMI
...              ...             ...                      ...
404795       62000.0         32600.0        Personal Loan EMI
404796      142200.0         38100.0        Personal Loan EMI
404797      191600.0         39700.0      Home Appliances EMI
404798      170400.0         45600.0      Home Appliances EMI
404799      214400.0         99400.0      Home Appliances EMI

        requested_amount requested_tenure  emi_eligibility  max_monthly_emi
0               850000.0               15     Not_Eligible            500.0
1               128000.0               19     Not_Eligible            700.0
2               306000.0               16         Eligible          27775.0
3               304000.0               83         Eligible          16170.0
4               252000.0                7     Not_Eligible            500.0
...                  ...              ...              ...              ...
404795          506000.0               47     Not_Eligible            500.0
404796          708000.0               33     Not_Eligible           5200.0
404797           93000.0               21        High_Risk           5665.0
404798          144000.0               36         Eligible          14460.0
404799           77000.0               35         Eligible           8756.0

[404800 rows x 27 columns]>

Check the Datasets Informations.

In [5]:
emi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404800 entries, 0 to 404799
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   age                     404800 non-null  object
 1   gender                  404800 non-null  object
 2   marital_status          404800 non-null  object
 3   education               402396 non-null  object
 4   monthly_salary          404800 non-null  object
 5   employment_type         404800 non-null  object
 6   years_of_employment     404800 non-null  float64
 7   company_type            404800 non-null  object
 8   house_type              404800 non-null  object
 9   monthly_rent            402374 non-null  float64
 10  family_size             404800 non-null  int64
 11  dependents              404800 non-null  int64
 12  school_fees             404800 non-null  float64
 13  college_fees            404800 non-null  float64
 14  travel_expenses         404800 non-null  float64
 15  groceries_utilities     404800 non-null  float64
 16  other_monthly_expenses  404800 non-null  float64
 17  existing_loans          404800 non-null  object
 18  current_emi_amount      404800 non-null  float64
 19  credit_score            402380 non-null  float64
 20  bank_balance            402374 non-null  object
 21  emergency_fund          402449 non-null  float64
 22  emi_scenario            404800 non-null  object
 23  requested_amount        404800 non-null  float64
 24  requested_tenure        404800 non-null  int64
 25  emi_eligibility         404800 non-null  object
 26  max_monthly_emi         404800 non-null  float64
dtypes: float64(12), int64(3), object(12)
memory usage: 83.4+ MB

Check the Datasets Columns Name.

In [6]:
emi.columns

Index(['age', 'gender', 'marital_status', 'education', 'monthly_salary',
       'employment_type', 'years_of_employment', 'company_type', 'house_type',
       'monthly_rent', 'family_size', 'dependents', 'school_fees',
       'college_fees', 'travel_expenses', 'groceries_utilities',
       'other_monthly_expenses', 'existing_loans', 'current_emi_amount',
       'credit_score', 'bank_balance', 'emergency_fund', 'emi_scenario',
       'requested_amount', 'requested_tenure', 'emi_eligibility',
       'max_monthly_emi'],
      dtype='object')

Change  the Datasets Columns Name Lower Case To Upper Case.

In [7]:
emi.columns = emi.columns.str.replace("_"," ").str.title()

emi.columns

Index(['Age', 'Gender', 'Marital Status', 'Education', 'Monthly Salary',
       'Employment Type', 'Years Of Employment', 'Company Type', 'House Type',
       'Monthly Rent', 'Family Size', 'Dependents', 'School Fees',
       'College Fees', 'Travel Expenses', 'Groceries Utilities',
       'Other Monthly Expenses', 'Existing Loans', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Emi Scenario',
       'Requested Amount', 'Requested Tenure', 'Emi Eligibility',
       'Max Monthly Emi'],
      dtype='object')

Check the Null Values in Data sets.

In [66]:
if emi.isnull().values.any():
    print(emi.isnull().sum() [emi.isnull().sum() > 0])
else:
    print("No Null Values")

Education         2404
Monthly Rent      2426
Credit Score      2420
Bank Balance      2426
Emergency Fund    2351
dtype: int64

Check the Datasets DataTypes.

In [8]:
emi.dtypes

Age                        object
Gender                     object
Marital Status             object
Education                  object
Monthly Salary             object
Employment Type            object
Years Of Employment       float64
Company Type               object
House Type                 object
Monthly Rent              float64
Family Size                 int64
Dependents                  int64
School Fees               float64
College Fees              float64
Travel Expenses           float64
Groceries Utilities       float64
Other Monthly Expenses    float64
Existing Loans             object
Current Emi Amount        float64
Credit Score              float64
Bank Balance               object
Emergency Fund            float64
Emi Scenario               object
Requested Amount          float64
Requested Tenure            int64
Emi Eligibility            object
Max Monthly Emi           float64
dtype: object

Change the Mismatch Datatypes Columns.

In [67]:
emi['Age'] = pd.to_numeric(emi['Age'] , errors='coerce')
emi['Monthly Salary'] = pd.to_numeric(emi['Monthly Salary'], errors='coerce')
emi["Bank Balance"] = pd.to_numeric(emi["Bank Balance"], errors='coerce')
emi["Monthly Salary"].head(1)

0    82600.0
Name: Monthly Salary, dtype: float64

Fill the Null Values use Back Fill or Forward Fill.

In [69]:
emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]] = emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]].fillna(method="bfill")

C:\Users\saran\AppData\Local\Temp\ipykernel_16520\1897095304.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]] = emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]].fillna(method="bfill")

In [70]:
emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]] = emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]].fillna(method="ffill")

C:\Users\saran\AppData\Local\Temp\ipykernel_16520\1056311261.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]] = emi[["Education", "Monthly Rent", "Credit Score", "Bank Balance", "Emergency Fund"]].fillna(method="ffill")

In [71]:
emi[['Age', 'Monthly Salary']] = emi[['Age', 'Monthly Salary']].fillna(emi[['Age', 'Monthly Salary']].mean())

After Check the Fill Null values any Null Values there.

In [125]:
if emi.isnull().values.any():
    print(emi.isnull().sum() [emi.isnull().sum() > 0])
else:
    print("No Null Values")

No Null Values

In [126]:
emi.columns

Index(['Age', 'Gender', 'Marital Status', 'Education', 'Monthly Salary',
       'Employment Type', 'Years Of Employment', 'Company Type', 'House Type',
       'Monthly Rent', 'Family Size', 'Dependents', 'School Fees',
       'College Fees', 'Travel Expenses', 'Groceries Utilities',
       'Other Monthly Expenses', 'Existing Loans', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Emi Scenario',
       'Requested Amount', 'Requested Tenure', 'Emi Eligibility',
       'Max Monthly Emi'],
      dtype='object')

Save the Cleaned CSV files.

In [132]:
import os
print(os.getcwd())

c:\Users\saran\Desktop\EMI Predictions

In [137]:
emi.to_csv("EMI Prediction Clean.csv", index=False)

In [2]:
import pandas as pd

df = pd.read_csv("EMI Prediction Clean.csv")
df

,Age,Gender,Marital Status,Education,Monthly Salary,Employment Type,Years Of Employment,Company Type,House Type,Monthly Rent,...,Existing Loans,Current Emi Amount,Credit Score,Bank Balance,Emergency Fund,Emi Scenario,Requested Amount,Requested Tenure,Emi Eligibility,Max Monthly Emi
0,38.0,Female,Married,Professional,82600.0,Private,0.9,Mid Size,Rented,20000.0,...,Yes,23700.0,660.0,303200.0,70200.0,Personal Loan EMI,850000.0,15,Not Eligible,500.0
1,38.0,Female,Married,Graduate,21500.0,Private,7.0,MNC,Family,0.0,...,Yes,4100.0,714.0,92500.0,26900.0,E-commerce Shopping EMI,128000.0,19,Not Eligible,700.0
2,38.0,Male,Married,Professional,86100.0,Private,5.8,Startup,Own,0.0,...,No,0.0,650.0,672100.0,324200.0,Education EMI,306000.0,16,Eligible,27775.0
3,58.0,Female,Married,High School,66800.0,Private,2.2,Mid Size,Own,0.0,...,No,0.0,685.0,440900.0,178100.0,Vehicle EMI,304000.0,83,Eligible,16170.0
4,48.0,Female,Married,Professional,57300.0,Private,3.4,Mid Size,Family,0.0,...,No,0.0,770.0,97300.0,28200.0,Home Appliances EMI,252000.0,7,Not Eligible,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404795,27.0,Male,Married,Graduate,32400.0,Private,5.0,Large Indian,Rented,10400.0,...,No,0.0,649.0,62000.0,32600.0,Personal Loan EMI,506000.0,47,Not Eligible,500.0
404796,38.0,Male,Married,Post Graduate,49200.0,Private,1.9,MNC,Own,0.0,...,No,0.0,712.0,142200.0,38100.0,Personal Loan EMI,708000.0,33,Not Eligible,5200.0
404797,32.0,Male,Single,Graduate,25700.0,Private,3.2,MNC,Rented,6300.0,...,No,0.0,676.0,191600.0,39700.0,Home Appliances EMI,93000.0,21,High Risk,5665.0
404798,48.0,Male,Married,Graduate,47200.0,Private,3.0,MNC,Own,0.0,...,No,0.0,784.0,170400.0,45600.0,Home Appliances EMI,144000.0,36,Eligible,14460.0
404799,38.0,Female,Married,Graduate,34900.0,Private,1.2,MNC,Family,0.0,...,No,0.0,641.0,214400.0,99400.0,Home Appliances EMI,77000.0,35,Eligible,8756.0

In [3]:
Q1 = df['Max Monthly Emi'].quantile(0.25)
Q3 = df['Max Monthly Emi'].quantile(0.75)
IQR = Q3 - Q1

df_clean = df[~((df['Max Monthly Emi'] < (Q1 - 1.5*IQR)) | (df['Max Monthly Emi'] > (Q3 + 1.5*IQR)))]
print(df_clean.shape)

(387532, 27)

In [4]:
df_clean.columns

Index(['Age', 'Gender', 'Marital Status', 'Education', 'Monthly Salary',
       'Employment Type', 'Years Of Employment', 'Company Type', 'House Type',
       'Monthly Rent', 'Family Size', 'Dependents', 'School Fees',
       'College Fees', 'Travel Expenses', 'Groceries Utilities',
       'Other Monthly Expenses', 'Existing Loans', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Emi Scenario',
       'Requested Amount', 'Requested Tenure', 'Emi Eligibility',
       'Max Monthly Emi'],
      dtype='object')

In [8]:
df_clean['Dependents']

0         2
1         1
3         4
4         3
5         3
         ..
404795    3
404796    4
404797    0
404798    3
404799    1
Name: Dependents, Length: 387532, dtype: int64

In [9]:
df_clean.drop(['Dependents', 'School Fees', 'College Fees', 'Travel Expenses', 'Groceries Utilities', 'Emergency Fund', 'Requested Tenure'], axis=1, inplace=True)

C:\Users\saran\AppData\Local\Temp\ipykernel_18852\2821709603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(['Dependents', 'School Fees', 'College Fees', 'Travel Expenses', 'Groceries Utilities', 'Emergency Fund', 'Requested Tenure'], axis=1, inplace=True)

In [10]:
df_clean.columns

Index(['Age', 'Gender', 'Marital Status', 'Education', 'Monthly Salary',
       'Employment Type', 'Years Of Employment', 'Company Type', 'House Type',
       'Monthly Rent', 'Family Size', 'Other Monthly Expenses',
       'Existing Loans', 'Current Emi Amount', 'Credit Score', 'Bank Balance',
       'Emi Scenario', 'Requested Amount', 'Emi Eligibility',
       'Max Monthly Emi'],
      dtype='object')

In [11]:
df_clean.to_csv("EMI Prediction1.csv", index=False)

In [ ]:
d