1. Import All Packages

In [1]:
import pickle                                                                    # model save packages
import pandas as pd                                                              # pandas structuted package
import numpy as np                                                               # numpy number package
from sklearn.preprocessing import StandardScaler                                 # data preprocessing 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder                    # train test model
from sklearn.model_selection import train_test_split                             # split 80% train data, 20% test data                                
from sklearn.linear_model import LinearRegression,  Ridge, Lasso                 # Regression 1 st models
from sklearn.tree import DecisionTreeRegressor                                   # Regression 2 nd models
from sklearn.ensemble import RandomForestRegressor                               # Regression 3 rd models
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error    # check model errors and accuracy  
print("All Required Package are Imported")

All Required Package are Imported

2. Read Csv File

In [5]:
df = pd.read_csv("C:/Users/saran/Desktop/EMI Predictions/EMI Datasets/EMI Prediction Clean.csv")
df.head(2)

,Age,Gender,Marital Status,Education,Monthly Salary,Employment Type,Years Of Employment,Company Type,House Type,Monthly Rent,...,Existing Loans,Current Emi Amount,Credit Score,Bank Balance,Emergency Fund,Emi Scenario,Requested Amount,Requested Tenure,Emi Eligibility,Max Monthly Emi
0,38.0,Female,Married,Professional,82600.0,Private,0.9,Mid Size,Rented,20000.0,...,Yes,23700.0,660.0,303200.0,70200.0,Personal Loan EMI,850000.0,15,Not Eligible,500.0
1,38.0,Female,Married,Graduate,21500.0,Private,7.0,MNC,Family,0.0,...,Yes,4100.0,714.0,92500.0,26900.0,E-commerce Shopping EMI,128000.0,19,Not Eligible,700.0

3. Check the Columns

In [6]:
df.columns

Index(['Age', 'Gender', 'Marital Status', 'Education', 'Monthly Salary',
       'Employment Type', 'Years Of Employment', 'Company Type', 'House Type',
       'Monthly Rent', 'Family Size', 'Dependents', 'School Fees',
       'College Fees', 'Travel Expenses', 'Groceries Utilities',
       'Other Monthly Expenses', 'Existing Loans', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Emi Scenario',
       'Requested Amount', 'Requested Tenure', 'Emi Eligibility',
       'Max Monthly Emi'],
      dtype='object')

4. Remove Outerlines.

In [7]:
Q1 = df['Max Monthly Emi'].quantile(0.25)
Q3 = df['Max Monthly Emi'].quantile(0.75)
IQR = Q3 - Q1

df_clean = df[~((df['Max Monthly Emi'] < (Q1 - 1.5*IQR)) | (df['Max Monthly Emi'] > (Q3 + 1.5*IQR)))]
print(df_clean.shape)

(387532, 27)

In [8]:
df.columns

Index(['Age', 'Gender', 'Marital Status', 'Education', 'Monthly Salary',
       'Employment Type', 'Years Of Employment', 'Company Type', 'House Type',
       'Monthly Rent', 'Family Size', 'Dependents', 'School Fees',
       'College Fees', 'Travel Expenses', 'Groceries Utilities',
       'Other Monthly Expenses', 'Existing Loans', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Emi Scenario',
       'Requested Amount', 'Requested Tenure', 'Emi Eligibility',
       'Max Monthly Emi'],
      dtype='object')

5. Split the numerical columns and catagorical columns.

In [9]:
numeric_cols = ['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent', 
                'Family Size', 'Dependents', 'School Fees', 'College Fees', 
                'Travel Expenses', 'Groceries Utilities', 'Other Monthly Expenses', 
                'Existing Loans', 'Current Emi Amount', 'Credit Score', 'Bank Balance', 
                'Emergency Fund', 'Requested Amount', 'Requested Tenure', 'Max Monthly Emi']

categorical_cols = ['Gender', 'Marital Status', 'Education', 'Employment Type', 
                    'Company Type', 'House Type', 'Emi Scenario', 'Existing Loans', 'Emi Eligibility']

In [10]:
X_encoded = pd.get_dummies(df_clean[numeric_cols + categorical_cols], 
                           columns=categorical_cols, drop_first=True)

# Linear Regression Model.

In [11]:
X_encoded.columns

Index(['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent',
       'Family Size', 'Dependents', 'School Fees', 'College Fees',
       'Travel Expenses', 'Groceries Utilities', 'Other Monthly Expenses',
       'Current Emi Amount', 'Credit Score', 'Bank Balance', 'Emergency Fund',
       'Requested Amount', 'Requested Tenure', 'Max Monthly Emi',
       'Gender_Male', 'Marital Status_Single', 'Education_High School',
       'Education_Post Graduate', 'Education_Professional',
       'Employment Type_Private', 'Employment Type_Self-employed',
       'Company Type_MNC', 'Company Type_Mid Size', 'Company Type_Small',
       'Company Type_Startup', 'House Type_Own', 'House Type_Rented',
       'Emi Scenario_Education EMI', 'Emi Scenario_Home Appliances EMI',
       'Emi Scenario_Personal Loan EMI', 'Emi Scenario_Vehicle EMI',
       'Existing Loans_Yes', 'Existing Loans_Yes', 'Emi Eligibility_High Risk',
       'Emi Eligibility_Not Eligible'],
      dtype='object')

6. Split Input and Outputs columns, Train, Test.

In [12]:
X = X_encoded.drop(['Dependents', 'School Fees', 'College Fees',
       'Travel Expenses', 'Groceries Utilities', 'Max Monthly Emi'], axis=1)

y = df_clean['Max Monthly Emi']  

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [150]:
X.columns

Index(['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent',
       'Family Size', 'Other Monthly Expenses', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Requested Amount',
       'Requested Tenure', 'Gender_Male', 'Marital Status_Single',
       'Education_High School', 'Education_Post Graduate',
       'Education_Professional', 'Employment Type_Private',
       'Employment Type_Self-employed', 'Company Type_MNC',
       'Company Type_Mid Size', 'Company Type_Small', 'Company Type_Startup',
       'House Type_Own', 'House Type_Rented', 'Emi Scenario_Education EMI',
       'Emi Scenario_Home Appliances EMI', 'Emi Scenario_Personal Loan EMI',
       'Emi Scenario_Vehicle EMI', 'Existing Loans_Yes', 'Existing Loans_Yes',
       'Emi Eligibility_High Risk', 'Emi Eligibility_Not Eligible'],
      dtype='object')

7. Model Selection and Train, Predicted.

In [108]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model = RandomForestRegressor(n_estimators=200, max_depth=10, max_features=100, max_samples=500, max_leaf_nodes=500, min_samples_split=2 ,random_state=42)

In [109]:
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

In [130]:
X.columns

Index(['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent',
       'Family Size', 'Other Monthly Expenses', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Requested Amount',
       'Requested Tenure', 'Gender_Male', 'Marital Status_Single',
       'Education_High School', 'Education_Post Graduate',
       'Education_Professional', 'Employment Type_Private',
       'Employment Type_Self-employed', 'Company Type_MNC',
       'Company Type_Mid Size', 'Company Type_Small', 'Company Type_Startup',
       'House Type_Own', 'House Type_Rented', 'Emi Scenario_Education EMI',
       'Emi Scenario_Home Appliances EMI', 'Emi Scenario_Personal Loan EMI',
       'Emi Scenario_Vehicle EMI', 'Existing Loans_Yes', 'Existing Loans_Yes',
       'Emi Eligibility_High Risk', 'Emi Eligibility_Not Eligible'],
      dtype='object')

8. Check the Model Accuracy.

In [111]:
r2 = r2_score(y_test, y_predict)
mse = mean_squared_error(y_test, y_predict)
mae = mean_absolute_error(y_test, y_predict)

print(f"R2 Score : {r2}")
print(f"Mean Squared Error : {mse}")
print(f"Mean Absolute Error : {mae}")

R2 Score : 0.6916672652056832
Mean Squared Error : 9935244.437215822
Mean Absolute Error : 2383.9592897421344

9. Compared Actual VS Predicted outputs.

In [38]:
predicted_values = pd.DataFrame({
    'Actual' : y_test.values,
    'Predicted' : y_predict
})

predicted_values.iloc[20:35]

     Actual  Predicted
20   5950.0     5950.0
21    500.0      500.0
22   3355.0     3355.0
23  23045.0    23045.0
24   6248.0     6248.0
25    500.0      500.0
26    840.0      840.0
27   8400.0     8400.0
28   5768.0     5768.0
29   1640.0     1640.0
30    500.0      500.0
31   4235.0     4235.0
32   5200.0     5200.0
33    500.0      500.0
34    500.0      500.0

In [135]:
X.columns

Index(['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent',
       'Family Size', 'Other Monthly Expenses', 'Current Emi Amount',
       'Credit Score', 'Bank Balance', 'Emergency Fund', 'Requested Amount',
       'Requested Tenure', 'Gender_Male', 'Marital Status_Single',
       'Education_High School', 'Education_Post Graduate',
       'Education_Professional', 'Employment Type_Private',
       'Employment Type_Self-employed', 'Company Type_MNC',
       'Company Type_Mid Size', 'Company Type_Small', 'Company Type_Startup',
       'House Type_Own', 'House Type_Rented', 'Emi Scenario_Education EMI',
       'Emi Scenario_Home Appliances EMI', 'Emi Scenario_Personal Loan EMI',
       'Emi Scenario_Vehicle EMI', 'Existing Loans_Yes', 'Existing Loans_Yes',
       'Emi Eligibility_High Risk', 'Emi Eligibility_Not Eligible'],
      dtype='object')

10. Save the  Model.

In [139]:
model_columns = x_train.columns.tolist()  # list of columns used to train the model
print(model_columns)

['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent', 'Family Size', 'Other Monthly Expenses', 'Current Emi Amount', 'Credit Score', 'Bank Balance', 'Emergency Fund', 'Requested Amount', 'Requested Tenure', 'Gender_Male', 'Marital Status_Single', 'Education_High School', 'Education_Post Graduate', 'Education_Professional', 'Employment Type_Private', 'Employment Type_Self-employed', 'Company Type_MNC', 'Company Type_Mid Size', 'Company Type_Small', 'Company Type_Startup', 'House Type_Own', 'House Type_Rented', 'Emi Scenario_Education EMI', 'Emi Scenario_Home Appliances EMI', 'Emi Scenario_Personal Loan EMI', 'Emi Scenario_Vehicle EMI', 'Existing Loans_Yes', 'Existing Loans_Yes', 'Emi Eligibility_High Risk', 'Emi Eligibility_Not Eligible']

In [131]:
with open("EMI Regression Model.pkl", "wb") as file:
    pickle.dump(model, file)

print("✅ Model saved")

✅ Model saved

# RandomForest Regression Model.

1. Split the catagorical columns and numerical columns.

In [14]:
numeric_cols = ['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent', 
                'Family Size', 'Dependents', 'School Fees', 'College Fees', 
                'Travel Expenses', 'Groceries Utilities', 'Other Monthly Expenses', 
                'Existing Loans', 'Current Emi Amount', 'Credit Score', 'Bank Balance', 
                'Emergency Fund', 'Requested Amount', 'Requested Tenure', 
                 'Max Monthly Emi']

categorical_cols = ['Gender', 'Marital Status', 'Education', 'Employment Type', 
                    'Company Type', 'House Type', 'Emi Scenario', 'Existing Loans', 'Emi Eligibility']

In [15]:
X_encoded = pd.get_dummies(df_clean[numeric_cols + categorical_cols], 
                           columns=categorical_cols, drop_first=True)

2. Split data in train, test and Model Selection.

In [16]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)

3. Model Train, Predict.

In [17]:
X = X_encoded.drop(['Dependents', 'School Fees', 'College Fees', 'Travel Expenses', 'Groceries Utilities', 'Emergency Fund', 'Requested Tenure', 'Emi Eligibility_High Risk',
       'Emi Eligibility_Not Eligible', 'Emi Eligibility_High Risk', 'Emi Eligibility_Not Eligible'], axis=1)

y = df_clean['Max Monthly Emi']  

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [18]:
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

4. Test model accuracy and errors.

In [20]:
r2 = r2_score(y_test, y_predict)
mse = mean_squared_error(y_test, y_predict)
mae = mean_absolute_error(y_test, y_predict)
print(f"R2 Score: {r2}")
print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")

R2 Score: 0.999999998663421
Mean Squared Error: 0.04306788581199379
Mean Absolute Error: 0.03543104765205845

5. Compared Actual output VS Predicted output.

In [21]:
prediction = pd.DataFrame(
    {
        'Actual' : y_test.values,
        'Prediction' : y_predict
    }
)

prediction_df = prediction.reset_index(drop=True)
prediction_df.iloc[10:25]

     Actual  Prediction
10   7400.0   7400.0000
11   6112.0   6111.9500
12    500.0    500.0000
13    500.0    500.0000
14  10450.0  10450.0000
15   5100.0   5100.0000
16    500.0    500.0000
17   6627.6   6628.2440
18   4315.5   4315.4298
19    500.0    500.0000
20   5950.0   5950.0000
21    500.0    500.0000
22   3355.0   3355.0000
23  23045.0  23045.5500
24   6248.0   6248.0000

# Decision Tree Regressor.

1. Split Categorical and Numerical Columns.

In [25]:
numeric_cols = ['Age', 'Monthly Salary', 'Years Of Employment', 'Monthly Rent', 
                'Family Size', 'Dependents', 'School Fees', 'College Fees', 
                'Travel Expenses', 'Groceries Utilities', 'Other Monthly Expenses', 
                'Existing Loans', 'Current Emi Amount', 'Credit Score', 'Bank Balance', 
                'Emergency Fund', 'Requested Amount', 'Requested Tenure', 
                'Emi Eligibility', 'Max Monthly Emi']

categorical_cols = ['Gender', 'Marital Status', 'Education', 'Employment Type', 
                    'Company Type', 'House Type', 'Emi Scenario', 'Existing Loans', 'Emi Eligibility']

In [26]:
X_encoded = pd.get_dummies(df_clean[numeric_cols + categorical_cols], 
                           columns=categorical_cols, drop_first=True)

2. Split Train and Test Data.

In [27]:
x_train, x_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.3, random_state=42)

3. Model Choose, Model train and Predict.

In [13]:
model = DecisionTreeRegressor()
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

4. Check model accuracy.

In [14]:
r2 = r2_score(y_test, y_predict)
mse = mean_squared_error(y_test, y_predict)
mae = mean_absolute_error(y_test, y_predict)
print(f"R2 Score: {r2}")
print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")

R2 Score: 0.9999999966458741
Mean Squared Error: 0.1080782418716698
Mean Absolute Error: 0.03310837777402649

5. Actual VS predict.

In [15]:
prediction = pd.DataFrame(
    {
        'Actual' : y_test.values,
        'Prediction' : y_predict
    }
)

prediction_df = prediction.reset_index(drop=True)
prediction_df.iloc[10:55]

     Actual  Prediction
10   7400.0      7400.0
11   6112.0      6112.0
12    500.0       500.0
13    500.0       500.0
14  10450.0     10450.0
15   5100.0      5100.0
16    500.0       500.0
17   6627.6      6627.6
18   4315.5      4315.5
19    500.0       500.0
20   5950.0      5950.0
21    500.0       500.0
22   3355.0      3355.0
23  23045.0     23045.0
24   6248.0      6248.0
25    500.0       500.0
26    840.0       840.0
27   8400.0      8400.0
28   5768.0      5768.0
29   1640.0      1640.0
30    500.0       500.0
31   4235.0      4235.0
32   5200.0      5200.0
33    500.0       500.0
34    500.0       500.0
35    500.0       500.0
36   3181.5      3181.5
37    500.0       500.0
38    500.0       500.0
39    500.0       500.0
40    500.0       500.0
41    604.8       604.8
42  18895.8     18892.8
43   2030.4      2030.4
44    500.0       500.0
45  20515.0     20515.0
46   4488.0      4488.0
47   4956.0      4956.0
48  14414.4     14414.4
49    500.0       500.0
50  12900.0     12900.0
51   1850.0      1850.0
52    500.0       500.0
53    500.0       500.0
54    500.0       500.0

In [19]:
with open("EMI Regression Model.pkl", "wb") as file:
    pickle.dump(model, file)
   
print("✅ Model saved")

✅ Model saved